---
import AllLayout from '../layouts/AllLayout.astro';
import InitializingGooglemaps from '../components/1_initializing_googlemaps.astro';
import SettingMarkers from '../components/2_setting_markers.astro';
import DrawingAPolyline from '../components/3_drawing_a_polyline.astro';
import DrawingAShape from '../components/4_drawing_a_shape.astro';
import DrawingAnImage from '../components/5_drawing_an_image.astro';
import MapEvents from '../components/6_map_events.astro';
import DisplayingMapInfo from '../components/7_displaying_map_info.astro';
import DisplayingUserLocation from '../components/8_displaying_user_location.astro';
import DataLayer from '../components/9_data_layer.astro';
import Kml from '../components/10_kml.astro';

export function getStaticPaths() {
	return [
		{ params: { page: '1_initializing_googlemaps' }, props: { subtitle: '1. initializing Googlemaps' } },
		{ params: { page: '2_setting_markers' }, props: { subtitle: '2. setting markers' } },
		{ params: { page: '3_drawing_a_polyline' }, props: { subtitle: '3. drawing a polyline' } },
		{ params: { page: '4_drawing_a_shape' }, props: { subtitle: '4. drawing a shape' } },
		{ params: { page: '5_drawing_an_image' }, props: { subtitle: '5. drawing an image' } },
		{ params: { page: '6_map_events' }, props: { subtitle: '6. map events' } },
		{ params: { page: '7_displaying_map_info' }, props: { subtitle: '7. displaying map info' } },
		{ params: { page: '8_displaying_user_location' }, props: { subtitle: '8. displaying user location' } },
		{ params: { page: '9_data_layer' }, props: { subtitle: '9. data layer' } },
		{ params: { page: '10_kml' }, props: { subtitle: '10_kml' } },
	];
}

const { page } = Astro.params;
const { subtitle } = Astro.props;
const id = +page.split('_')[0];
---

<AllLayout>
	<h2 slot="subtitle">{subtitle}</h2>
	{id === 1 && <InitializingGooglemaps />}
	{id === 2 && <SettingMarkers />}
	{id === 3 && <DrawingAPolyline />}
	{id === 4 && <DrawingAShape />}
	{id === 5 && <DrawingAnImage />}
	{id === 6 && <MapEvents />}
	{id === 7 && <DisplayingMapInfo />}
	{id === 8 && <DisplayingUserLocation />}
	{id === 9 && <DataLayer />}
	{id === 10 && <Kml />}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="../script/10_kml"></script>
</AllLayout>
