---
import AllLayout from '../layouts/AllLayout.astro';
import InitializingGooglemaps from '../components/1_initializing_googlemaps.astro';
import SettingMarkers from '../components/2_setting_markers.astro';
import DrawingAPolyline from '../components/3_drawing_a_polyline.astro';
import DrawingAShape from '../components/4_drawing_a_shape.astro';
import DrawingAnImage from '../components/5_drawing_an_image.astro';

export function getStaticPaths() {
	return [
		{ params: { page: '1_initializing_googlemaps' }, props: { subtitle: '1. initializing Googlemaps' } },
		{ params: { page: '2_setting_markers' }, props: { subtitle: '2. setting markers' } },
		{ params: { page: '3_drawing_a_polyline' }, props: { subtitle: '3. drawing a polyline' } },
		{ params: { page: '4_drawing_a_shape' }, props: { subtitle: '4. drawing a shape' } },
		{ params: { page: '5_drawing_an_image' }, props: { subtitle: '5. drawing an image' } },
	];
}

const { page } = Astro.params;
const { subtitle } = Astro.props;
const id = +page.split('_')[0];
---

<AllLayout>
	<h2 slot="subtitle">{subtitle}</h2>
	{id === 1 && <InitializingGooglemaps />}
	{id === 2 && <SettingMarkers />}
	{id === 3 && <DrawingAPolyline />}
	{id === 4 && <DrawingAShape />}
	{id === 5 && <DrawingAnImage />}
	<script src="../script/5_drawing_an_image"></script>
</AllLayout>
