---
import OuterLayout from './OuterLayout.astro';
---

<OuterLayout>
	<header>
		<h1>Dug's note - Googlemaps API</h1>
		<slot name="subtitle" />
	</header>
	<main>
		<slot />
	</main>
</OuterLayout>
